<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            {{ if .IsItMe }}

            <div>
                <form action="/profile" method="patch" class="profile">
                    <div class="picture">
                        <img src="{{ .Picture }}" alt="Profile picture">
                        <input type="url" name="picture" value="{{ .Picture }}">
                    </div>
                    <div class="info">
                        <input class="labelinput" type="text" name="name" value="{{ .Name }}">
                        <p>{{ .PostsNum }} posts</p>
                        <button type="submit">Update Profile</a>
                    </div>
                </form>
            </div>

            {{ else }}
            
            <div class="profile">
                <img src="{{ .Picture }}" alt="Profile picture">
                <div class="info">
                    <h1>{{ .Name }}</h1>
                    <p>{{ .PostsNum }} posts</p>
                </div>
            </div>
            {{ end }}
            

            <div class="posts">
                {{ if .PostsNum }}
                    <h2>Blog Posts</h2>
                    {{ range .Posts }}
                        <div class="post">
                            <a href="/post/{{ .ID }}"><h3>{{ .Title }}</h3></a>
                            <p>{{ .Content }}</p>
                        </div>
                    {{ end }}
                {{ else }}
                <h3> Nothing to see here...</h3>
                {{ end }}
            </div>
        </div>
    </body>
</html>
