<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="/css/style.css" rel="stylesheet">

        <meta property="og:title" content="{{ .Name }}">
        <meta property="og:image" content="{{ .Picture }}">
    </head>
    <body>
        <div class="top">
            <div class="info">
                <h2><a href="/">{{ .SiteTitle }}</a></h2>
                <p>{{ .SiteDescription }}</p>
            </div>
            <div class="actions">
                {{ if .LoggedIn }}
                    <a href="/write">Write</a>
                    <a href="/profile">Profile</a>
                {{ else }}
                    <a href="/login">Login</a>
                {{ end }}
            </div>
        </div>

        <div class="content">
            {{ if .IsItMe }}
            <div class="profile">
                <img src="{{ .Picture }}" alt="Profile picture">
                <div class="info">
                    <h1>{{ .Name }}</h1>
                    <p>{{ .PostsNum }} posts</p>
                    <a href="/edit">Edit Profile</a>
                </div>
            </div>
            {{ else }}
            
            <div class="profile">
                <img src="{{ .Picture }}" alt="Profile picture">
                <div class="info">
                    <h1>{{ .Name }}</h1>
                    <p>{{ .PostsNum }} posts</p>
                </div>
            </div>
            {{ end }}
            

            <div class="posts">
                {{ if .PostsNum }}
                    <h2>Blog Posts</h2>
                    {{ range .Posts }}
                        <div class="post">
                            <a href="/post/{{ .ID }}"><h3>{{ .Title }}</h3></a>
                            <p>{{ .Description }}</p>
                        </div>
                    {{ end }}
                {{ else }}
                <h3> Nothing to see here...</h3>
                {{ end }}
            </div>
        </div>


        <div class="bottom">
            <div class="info">
                <p>Made with &lt;3 by 🧙‍♂️ <a href="https://github.com/PoulDev">PoulDev</a></p>
                <a href="https://github.com/PoulDev/lgBlog">Source Code</a>
            </div>
        </div>
    </body>
</html>
