<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="top">
            <div class="info">
                <h2><a href="/">{{ .SiteTitle }}</a></h2>
                <p>{{ .SiteDescription }}</p>
            </div>
        </div>

        <div class="content">
            <p class="message-{{ .Type }}">{{ .Message }}</p>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="John Doe" required>
                <input type="password" name="password" placeholder="P@ss*0rD" required>
                <button type="submit">Login</button>
            </form>
        </div>


        <div class="bottom">
            <div class="info">
                <p>Made with &lt;3 by 🧙‍♂️ <a href="https://github.com/PoulDev">PoulDev</a></p>
                <a href="https://github.com/PoulDev/lgBlog">Source Code</a>
            </div>
        </div>
    </body>
</html>
