<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <p class="message-{{ .Type }}">{{ .Message }}</p>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="John Doe" required>
                <input type="password" name="password" placeholder="P@ss*0rD" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>
